@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");

:root {
  --primarycolor: #2d2d2d;
}

body {
  font-family: Vollkorn, serif;
  line-height: 1.6;
  color: var(--primarycolor);
}

#dark-toggle {
  cursor: pointer;
}

.dark-mode {
  --primarycolor: #b3b9c5;
  background-color: #2d2d2d;
}

.href {
  color: var(--primarycolor);
}

.link1:hover {
  font-weight: bold;
  color: #f43b86;
}

.link2:hover {
  font-weight: bold;
  color: #f9c80e;
}

.link3:hover {
  font-weight: bold;
  color: #2de2e6;
}

.link4:hover {
  font-weight: bold;
  color: #791e94;
}

.modal-color {
  background-color: #2d2d2d;
}

.modal-img {
  max-width: 60%;
}

.project-img {
  max-width: 75%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter 0.25s ease-in-out;
}

.project-img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
